<h1><%= @flight[:flight_num] %></h1>
<p2><%= @flight[:date] %></p2>
<p2><%= @flight[:origin] %></p2>
<p2><%= @flight[:destination] %></p2>


<!---#This is working just beautify with HTML to get a nice layout of flight info.--!>



