<h1>Flight <%= @flight[:flight_num] %></h1>

<div class="container" style="margin-bottom: 200px; margin-top: 25px;">
<div class="row">
<div class="col">

<div class="row">
<h5>Seat selection</h5>
</div>

<div class="row">
<div class="col">
<form action="/flights/<%= @flight[:id] %>/bookings/create" method="POST">

<!--#Desde aqui el bloque de rows en el avión     ROW 1--!>
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_1a" id="taken_1a">
  <label class="form-check-label" for="taken_1a">
    1a
  </label>
  </div>
  </div>

  <div class="col">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_1b" id="taken_1b">
  <label class="form-check-label" for="taken_1b">
    1b
  </label>
  </div>
  </div>
  </div>
<!--#Hasta aqui el bloque de rows en el avión--!>

<!--#Desde aqui el bloque de rows en el avión     ROW 2--!>
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_2a" id="taken_2a">
  <label class="form-check-label" for="taken_2a">
    2a
  </label>
  </div>
  </div>

  <div class="col">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_2b" id="taken_2b">
  <label class="form-check-label" for="taken_2b">
    2b
  </label>
  </div>
  </div>
  </div>
<!--#Hasta aqui el bloque de rows en el avión--!>

<!--#Desde aqui el bloque de rows en el avión     ROW 3--!>
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_3a" id="taken_3a">
  <label class="form-check-label" for="taken_3a">
    3a
  </label>
  </div>
  </div>

  <div class="col">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_3b" id="taken_3b">
  <label class="form-check-label" for="taken_3b">
    3b
  </label>
  </div>
  </div>
  </div>
<!--#Hasta aqui el bloque de rows en el avión--!>

<!--#Desde aqui el bloque de rows en el avión     ROW 4--!>
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_4a" id="taken_4a">
  <label class="form-check-label" for="taken_4a">
    4a
  </label>
  </div>
  </div>

  <div class="col">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="1" name= "taken_4b" id="taken_4b">
  <label class="form-check-label" for="taken_4b">
    4b
  </label>
  </div>
  </div>
  </div>
<!--#Hasta aqui el bloque de rows en el avión--!>


  <button type="submit" class="btn btn-primary">Book it!</button>
</form>  <!--#Hasta aqui la form de meter el asiento--!>
</div>

<div class="col">
<p1>placeholder</p1>
</div>
</div>